<table class="table table-striped">

{{#data.0}}
  <tr>
{{#endIndex}}


    <td>{{score}}</td>


{{/endIndex}}
  </tr>

{{/data.0}}

<td>aaa</td>

{{#data.1}}
  <tr>
{{#endIndex}}

    <td>{{score}}</td>

{{/endIndex}}
  </tr>
<td>bbb</td>
{{/data.1}}



{{#data.3}}
  <tr>
{{#endIndex}}

    <td>{{score}}</td>

{{/endIndex}}
  </tr>

<td>ccc</td>
{{/data.3}}


{{#scoreSend}}
<tr>
    <td>Total</td>
    <td>{{total}}</td>
    <td></td>
</tr>
</table>
<p>Total spiders hit: {{spidtot}}</p>
<p>Total Hits: {{Hits}}</p>
<p>Total Golds: {{Golds}}</p>
{{/scoreSend}}
