{{#data}}
<table class="table table-striped">
{{#data.0.0}}
    <!-- <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>

    </tr> -->
    <tr>
        {{#endIndex}}
            <td>{{score}}</td>
        {{/endIndex}}
        <td bgcolor='dimgrey'></td>
    </tr>
        {{/data.0.0}}
</table>

{{#scoreSend.0}}
<table class="table table-striped">
    <th>Total score: {{total}}</th>
    <th>Total spiders hit: {{spidtot}}</th>
    <th>Total Hits: {{Hits}}</th>
    <th>Total Golds: {{Golds}}</th>
</table>
{{/scoreSend.0}}




<table class="table table-striped">
{{#data.1}}
    <!-- <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>

    </tr> -->
    <tr>
        {{#endIndex}}
            <td>{{score}}</td>
        {{/endIndex}}

        <td bgcolor='dimgrey'></td>
    </tr>
{{/data.1}}
</table>
{{/data}}

{{#scoreSend.1}}
<table class="table table-striped">
    <th>Total score: {{total}}</th>
    <th>Total spiders hit: {{spidtot}}</th>
    <th>Total Hits: {{Hits}}</th>
    <th>Total Golds: {{Golds}}</th>
</table>
{{/scoreSend.1}}
