<table class="table table-striped">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>

    </tr>
    {{#data.0}}
    <tr>
        {{#endIndex}}
            <td>{{score}}</td>
        {{/endIndex}}
    {{/data.0}}
        <td bgcolor='dimgrey'></td>
    {{#data.1}}
        {{#endIndex}}
            <td>{{score}}</td>
        {{/endIndex}}
    {{/data.1}}
        <td bgcolor='dimgrey'></td>
    </tr>


    {{#data.2}}
    <tr>
        {{#endIndex}}
            <td>{{score}}</td>
        {{/endIndex}}
    {{/data.2}}
        <td bgcolor='dimgrey'></td>
    {{#data.3}}
        {{#endIndex}}
            <td>{{score}}</td>
        {{/endIndex}}
    {{/data.3}}
        <td bgcolor='dimgrey'></td>
    </tr>


    {{#data.4}}
    <tr>
        {{#endIndex}}
            <td>{{score}}</td>
        {{/endIndex}}
    {{/data.4}}
        <td bgcolor='dimgrey'></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor='dimgrey'></td>
    </tr>

{{#scoreSend}}
</table>
<table class="table table-striped">
    <th>Total score: {{total}}</th>
    <th>Total spiders hit: {{spidtot}}</th>
    <th>Total Hits: {{Hits}}</th>
    <th>Total Golds: {{Golds}}</th>
</table>
{{/scoreSend}}
