<p>As archers, we believe that archery is an exciting, competitive sport that deserves increased recognition and following amongst sports fans young and old. We also believe that people who try archery as a sport will become hooked and get many years of enjoyment from the sport.</p>

<p>Coming soon, we're launching a new free-to-enter competition based on live archery tournaments, both amateur and professional. You'll be able to compete against your friends and other archery enthusiasts in predicting results, follow archery tournaments in real time (arrow by arrow) and win prizes.</p>

<p>If this sounds exciting (or even if you're just a little bit intrigued) see below to register and be part of the product evolution!</p>

	

	<div class="aspect">
		<iframe src="https://www.youtube.com/embed/BEG-ly9tQGk" frameborder="0" allowfullscreen></iframe>
	</div>

	<p> If you are interested, please enter and submit your email address below to stay updated</p><br>
	<div class="input-group">
		<form action="/capture-email" method="post">
			<div class="entry">
  				<label for="fullname">Name:</label>
  				<input type="text" name="fullname" id="fullname" required>
  			</div>
			<div class="entry">
  				<label for="email">Email:</label>
  				<input type="email" name="email" id="email" placeholder="example@email.com" required>
  			</div>
  			<div class="entry">
  				<input type="submit" value="Submit" class="btn btn-success">
  			</div>
		</form>
		<div class ="submitMessage" id="submitMessage">
			{{submitMessage}}
		</div>
	</div>

	<script>
		
	</script>