<p>As archers, we believe that archery is an exciting, competitive sport that deserves increased recognition and following amongst sports fans young and old. We also believe that people who try archery as a sport will become hooked and get many years of enjoyment from the sport.</p>

<p>The StraightAndArrow website gives archery enthusiasts the opportunity to check out the results of the latest tournaments, both amateur and professional. By signing up below you can also enter our exciting prediction competition - just predict the scores that a number of archers will shoot in a tournament to be in with the chance of winning some great prizes, and watch the results unfold in near-to-realtime as the tournament plays out!</p>

<p>Register <a href="/registration"><strong>here</strong></a> to join the competition and be part of the exciting world of archery!</p>
<br><br>


	<div class="aspect">
		<iframe src="https://www.youtube.com/embed/BEG-ly9tQGk" frameborder="0" allowfullscreen></iframe>
	</div>

<!-- 	<p> If you are interested, please enter and submit your email address below to stay updated</p><br>
	<div class="input-group">
		<form action="/capture-email" method="post" id="registerForm">
			<div class="entry">
  				<label for="fullname">Name:</label>
  				<input type="text" name="fullname" id="fullname" required>
  			</div>
			<div class="entry">
  				<label for="email">Email:</label>
  				<input type="email" name="email" id="email" placeholder="example@email.com" required>
  			</div>
  			<div class="entry">
  				<input type="submit" value="Submit" class="btn btn-success">
  			</div>
		</form>
		<div id="submitMessage" class="hidden submitMessage alert">
			{{submitMessage}}
		</div>

	</div>
 -->
