<!DOCTYPE html>
<script src="testjs.js"></script>
<link rel="stylesheet" href="index.css">
<html>
	<body>
		<img src="archerylogo.svg" height="150px", width="150px">
		<h1>Infinity Works Archery Organisation<br> Coming Soon!</h1>
		<p>As archers, we believe that archery is an exciting, competitive sport that deserves increased recognition and following amongst sports fans young and old. We also believe that people who try archery as a sport will become hooked and get many years of enjoyment from the sport.<br><br>

		Coming soon, we're launching a new free-to-enter competition based on live archery tournaments, both amateur and professional. You'll be able to compete against your friends and other archery enthusiasts in predicting results, follow archery tournaments in real time (arrow by arrow) and win prizes.<br><br>

		If this sounds exciting (or even if you're just a little bit intrigued) check back here soon to register and be part of the product evolution!</p>
	

	</body>
</html>