h1{
	font-weight: bold;
	font-size: 42pt;
	text-align: center;
}

p{
	font-size: 20pt;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

img{
	display:block;
	margin:0 auto;
}

iframe{
	display:block;
	margin:0 auto;
	margin-bottom: 50px;
}

input[type=email]{
	width: 150px;
	border: 1px solid black;
}

input[type=email]:focus{
	background-color: AliceBlue;
}

input[type=submit]{
	width: 150px;
}


.input-group {
	display: block;
	margin: auto;
}

.video-container { 
   position: relative; /* keeps the aspect ratio */ 
   padding-bottom: 56.25%; /* fine tunes the video positioning */ 
   padding-top: 60px; overflow: hidden;
   margin-right: 8%;
   margin-left: 8%;
  
}

.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 75%; }