<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Welcome to IWAO</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<img class="logo" height="150px" src="archerylogo.svg" width="150px">
		
		<h1>IWG Archery Organisation<br> Coming Soon!</h1><br>
		

		<p>As archers, we believe that archery is an exciting, competitive sport that deserves increased recognition and following amongst sports fans young and old. We also believe that people who try archery as a sport will become hooked and get many years of enjoyment from the sport.</p><br><br>

		<p>Coming soon, we're launching a new free-to-enter competition based on live archery tournaments, both amateur and professional. You'll be able to compete against your friends and other archery enthusiasts in predicting results, follow archery tournaments in real time (arrow by arrow) and win prizes.</p><br><br>

		<p>If this sounds exciting (or even if you're just a little bit intrigued) check back here soon to register and be part of the product evolution!</p><br><br>

		<div class="video-container"><iframe src="https://www.youtube.com/embed/BEG-ly9tQGk" frameborder="0" allowfullscreen></iframe></div><br><br>
		

		<p> If you are interested, please enter and submit your email address below to stay updated</p><br>
		<div class="inputbox">
			<form action="/capture-email" method="post">
	  			<p1>Email:</p1>
	  			<input type ="text" name="email">
	  			<br><br>
	  			<input type="submit" value="Submit">
			</form>
		</div><br><br>  

	</body>
</html>