<p>Use the form below to login!</p><br>

<div class="input-group">
	<form action="/login" method="post" id="loginForm">

		<div class="entry">
			<label for="email">Email:</label>
			<input type="email" name="email" id="email" placeholder="example@email.com" required>
		</div>

		<div class="entry">
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" required>
		</div>
		<div class="entry">
			<input type="submit" value="Submit" class="btn btn-success">
		</div>
	</form>
</div>
<br>
<div align="center" class="alert-danger" text-size="18pt"><pessage>Oops! That email:password combination doesn't exist</pessage></div>
