<p>Use the from below to register as a player!</p><br>

<div class="input-group">
	<form action="/registration" method="post" id="playerRegistrationForm">
		<div class="entry">
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" required>
		</div>
		<div class="entry">
			<label for="dob">Date of birth:</label>
			<input type="text" name="dob" id="dob" placeholder="DD/MM/YYYY" required>
		</div>
		<div class="entry">
			<label for="email">Email:</label>
			<input type="email" name="email" id="email" placeholder="example@email.com" required>
		</div>
		<div class="entry">
			<label for="cemail">Confirm Email:</label>
			<input type="email" name="cemail" id="cemail" required>
		</div>
		<div class="entry">
			<p>Passwords must be between 8 and 20 characters</p>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" required>
		</div>
		<div class="entry">
			<label for="cpassword">Confirm Password:</label>
			<input type="password" name="cpassword" id="cpassword" required>
		</div>
		<div class="entry">
			<input type="submit" value="Submit" class="btn btn-success">
		</div>
	</form>

</div>