{{#data}}
{{#id}}
<p>Archer: <strong>{{name}}</strong></p>
{{/id}}

<form action="/tournament-input" method="post">
    <fieldset>
        <legend>End 1</legend>
            {{#ends.0}}
            Arrow 1: <input type="text" value="{{arrows.0}}" name="1" class="scoreinput">
            Arrow 2: <input type="text" value="{{arrows.1}}" name="2" class="scoreinput">
            Arrow 3: <input type="text" value="{{arrows.2}}" name="3" class="scoreinput">
            Arrow 4: <input type="text" value="{{arrows.3}}" name="4" class="scoreinput">
            Arrow 5: <input type="text" value="{{arrows.4}}" name="5" class="scoreinput">
            Arrow 6: <input type="text" value="{{arrows.5}}" name="6" class="scoreinput">
            {{/ends.0}}
    </fieldset>
    <fieldset>
        <legend>End 2</legend>
            {{#ends.1}}
            Arrow 7: <input type="text" value="{{arrows.0}}" name="7">
            Arrow 8: <input type="text" value="{{arrows.1}}" name="8">
            Arrow 9: <input type="text" value="{{arrows.2}}" name="9">
            Arrow 10: <input type="text" value="{{arrows.3}}" name="10">
            Arrow 11: <input type="text" value="{{arrows.4}}" name="11">
            Arrow 12: <input type="text" value="{{arrows.5}}" name="12">
            {{/ends.1}}
    </fieldset>
    <fieldset>
        <legend>End 3</legend>
            {{#ends.2}}
            Arrow 13: <input type="text" value="{{arrows.0}}" name="13">
            Arrow 14: <input type="text" value="{{arrows.1}}" name="14">
            Arrow 15: <input type="text" value="{{arrows.2}}" name="15">
            Arrow 16: <input type="text" value="{{arrows.3}}" name="16">
            Arrow 17: <input type="text" value="{{arrows.4}}" name="17">
            Arrow 18: <input type="text" value="{{arrows.5}}" name="18">
            {{/ends.2}}
    </fieldset>
    <fieldset>
        <legend>End 4</legend>
            {{#ends.3}}
            Arrow 19: <input type="text" value="{{arrows.0}}" name="19">
            Arrow 20: <input type="text" value="{{arrows.1}}" name="20">
            Arrow 21: <input type="text" value="{{arrows.2}}" name="21">
            Arrow 22: <input type="text" value="{{arrows.3}}" name="22">
            Arrow 23: <input type="text" value="{{arrows.4}}" name="23">
            Arrow 24: <input type="text" value="{{arrows.5}}" name="24">
            {{/ends.3}}
    </fieldset>
    <fieldset>
        <legend>End 5</legend>
            {{#ends.4}}
            Arrow 25: <input type="text" value="{{arrows.0}}" name="25">
            Arrow 26: <input type="text" value="{{arrows.1}}" name="26">
            Arrow 27: <input type="text" value="{{arrows.2}}" name="27">
            Arrow 28: <input type="text" value="{{arrows.3}}" name="28">
            Arrow 29: <input type="text" value="{{arrows.4}}" name="29">
            Arrow 30: <input type="text" value="{{arrows.5}}" name="30">
            {{/ends.4}}
    </fieldset>

    <fieldset>
        <input type="submit" value="Submit Archer's Score">
        {{#id}}
        <input type="hidden" name="archerID" value="{{archer_id}}"><br>
        <input type="hidden" name="tournamentID" value="{{tournament_id}}"><br>
        {{/id}}
    </fieldset>

</form>
{{/data}}