{{#data}}
{{#id}}
<p>Archer: <strong>{{name}}</strong></p>
{{/id}}

<form action="/tournament-input" method="post">
  <fieldset>
    {{#ends}}
    <legend>End {{endCounter}}</legend>
    {{#endIndex}}
    Arrow {{arrow}}:
    <input type="text" name="{{arrow}}" value="{{score}}"><br>
    {{/endIndex}}
    
    {{/ends}}
    <input type="submit" value="Submit Archer's Score">
    {{#id}}
    <input type="hidden" name="archerID" value="{{archer_id}}"><br>
    <input type="hidden" name="tournamentID" value="{{tournament_id}}"><br>
    {{/id}}
  </fieldset>
</form>
{{/data}}
