{{#data}}
{{#id}}
<p>Archer: <strong>{{name}}</strong></p>
{{/id}}

<form action="/tournament-input" method="post">
  <fieldset>
    <legend>End 1</legend>
    Arrow 1:
    <input type="text" name="1" value="9"><br>
    Arrow 2:
    <input type="text" name="2" value="9"><br>
    Arrow 3:
    <input type="text" name="3" value="9"><br>
    Arrow 4:
    <input type="text" name="4" value="9"><br>
    Arrow 5:
    <input type="text" name="5" value="9"><br>
    Arrow 6:
    <input type="text" name="6" value="9"><br>
    <br>
    <input type="submit" value="Save">
  </fieldset>


  <fieldset>
    <legend>End 2</legend>
    Arrow 7:
    <input type="text" name="7" value="9"><br>
    Arrow 8:
    <input type="text" name="8" value="9"><br>
    Arrow 9:
    <input type="text" name="9" value="9"><br>
    Arrow 10:
    <input type="text" name="10" value="9"><br>
    Arrow 11:
    <input type="text" name="11" value="9"><br>
    Arrow 12:
    <input type="text" name="12" value="9"><br>
    <br>
    <input type="submit" value="Save">
  </fieldset>

  <fieldset>
    <legend>End 3</legend>
    Arrow 13:
    <input type="text" name="13" value="9"><br>
    Arrow 14:
    <input type="text" name="14" value="9"><br>
    Arrow 15:
    <input type="text" name="15" value="9"><br>
    Arrow 16:
    <input type="text" name="16" value="9"><br>
    Arrow 17:
    <input type="text" name="17" value="9"><br>
    Arrow 18:
    <input type="text" name="18" value="9"><br>
    <br>
    <input type="submit" value="Save">
  </fieldset>


  <fieldset>
    <legend>End 4</legend>
    Arrow 19:
    <input type="text" name="19" value="9"><br>
    Arrow 20:
    <input type="text" name="20" value="9"><br>
    Arrow 21:
    <input type="text" name="21" value="9"><br>
    Arrow 22:
    <input type="text" name="22" value="9"><br>
    Arrow 23:
    <input type="text" name="23" value="9"><br>
    Arrow 24:
    <input type="text" name="24" value="9"><br>
    <br>
    <input type="submit" value="Save">
  </fieldset>

  <fieldset>
    <legend>End 5</legend>
    Arrow 25:
    <input type="text" name="25" value="9"><br>
    Arrow 26:
    <input type="text" name="26" value="9"><br>
    Arrow 27:
    <input type="text" name="27" value="9"><br>
    Arrow 28:
    <input type="text" name="28" value="9"><br>
    Arrow 29:
    <input type="text" name="29" value="9"><br>
    Arrow 30:
    <input type="text" name="30" value="9"><br>
    <br>
    <input type="submit" value="Save">
  </fieldset>

</form>
{{/data}}