{{#data}}
{{#id}}
<p>Archer: <strong>{{name}}</strong></p>
{{/id}}

<table class="table table-striped">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>
    </tr>
        {{#data.0}}
    <tr>
        {{#.}}
            <td>{{score}}</td>
        {{/.}}
        
        {{/data.0}}
        <td bgcolor='dimgrey'></td>
        {{#data.1}}

            <td>{{score}}</td>

        {{/data.1}}
        <td bgcolor='dimgrey'></td>
    </tr>
        {{#data.2}}
    <tr>

            <td>{{score}}</td>

        {{/data.2}}
        <td bgcolor='dimgrey'></td>
        {{#data.3}}

            <td>{{score}}</td>

        {{/data.3}}
        <td bgcolor='dimgrey'></td>
    </tr>
        {{#data.4}}
    <tr>
            <td>{{score}}</td>

        {{/data.4}}
        <td bgcolor='dimgrey'></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor='dimgrey'></td>
    </tr>

</table>
{{#summary}}
    <table class="table table-striped">
            <th>Total score: {{total}}</th>
            <th>Total spiders hit: {{spidtot}}</th>
            <th>Total Hits: {{Hits}}</th>
            <th>Total Golds: {{Golds}}</th>
    </table>
{{/summary}}
<br><br><br>
{{/data}}
