<table class="table table-striped">
  <tr>
    <th>Tournament</th>
    <th>End Date</th>
    <th>Location</th>
    <th>Type</th>
    <th>Number of Arrows</th>
    <th>Results</th>
  {{#tournament_result}}
    <tr>
      <td><a href="/tournament/{{id}}">{{venue}} on {{datetime_start}}</a></td>
      <td>{{datetime_end}}</td>
      <td>{{location}}</td>
      <td>{{type}}</td>
      <td>{{arrows}}</td>
      <td id='{{status}}'><a href="{{link}}">{{status}}</a><br><br><a href="/tournament/{{id}}/prediction-result">{{#leagueTableLink}}{{leagueLink}}{{/leagueTableLink}}</a></td>
    </tr>
   {{/tournament_result}}  
</table>


