{{#data}}
{{#id}}
<p>Archer: <strong>{{name}}</strong></p>
{{/id}}

<table class="table table-striped">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>E&#47T</th>
    </tr>
        

    <tr>
        {{#ends.0}}
            <td>{{score}}</td>
        {{/ends.0}}
        <td bgcolor='dimgrey'></td>
        {{#ends.1}}
            <td>{{score}}</td>
        {{/ends.1}}
        <td bgcolor='dimgrey'></td>
    </tr>

        
    <tr>
        {{#ends.2}}
            <td>{{score}}</td>
        {{/ends.2}}
        <td bgcolor='dimgrey'></td>
        {{#ends.3}}
            <td>{{score}}</td>
        {{/ends.3}}
        <td bgcolor='dimgrey'></td>
    </tr>

        
    <tr>
        {{#ends.4}}
            <td>{{score}}</td>
        {{/ends.4}}
        <td bgcolor='dimgrey'></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor='dimgrey'></td>
    </tr>

</table>
{{#summary}}
    <table class="table table-striped">
            <th>Total score: {{total}}</th>
            <th>Total spiders hit: {{spidtot}}</th>
            <th>Total Hits: {{Hits}}</th>
            <th>Total Golds: {{Golds}}</th>
    </table>
{{/summary}}
<br><br><br>
{{/data}}
